<head>
    <link rel="stylesheet" href="css/revenue.css">
</head>
<main>
    <div class="container">
        <label class="switch">
            <input type="checkbox" class="toggle" name="toggle-label" />
            <label class="form-label" for="toggle-label"><strong>Báo cáo ngày/tháng</strong></label>
            <span class="slider"></span>

            <div class="flip-card__inner mt-3">
                <div class="flip-card__front">
                    <div class="title">Báo cáo doanh thu ngày</div>
                    <form action="" class="d-flex align-items-center">
                        <label for="date"><strong>Nhập ngày:</strong></label>
                        <input id="date"type="date"class="form-control mx-3"name="date" />
                        <button type="submit" class="btn btn-primary" onclick="fetchRevenueByDate()">Load</button>
                    </form>

                    <table class="table table-striped mt-3">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col" width="10%">Mã sản phẩm</th>
                                <th scope="col" width="30%">Tên sản phẩm</th>
                                <th scope="col" width="10%">Số lượng</th>
                                <th scope="col" width="10%">Đơn giá</th>
                                <th scope="col"class="text-end"width="10%"><span>Thành tiền</span></th>
                            </tr>
                        </thead> 
                        <tbody id="revenueByDateTable"></tbody>
                    </table>

                    <strong>Tổng doanh thu ngày:</strong>
                </div>
                <div class="flip-card__back">
                    <div class="title">Báo cáo doanh thu tháng</div>
                    <form action="" class="d-flex align-items-center">
                        <label for="month"
                            ><strong>Nhập tháng:</strong></label
                        >
                        <input
                            id="month"
                            type="month"
                            placeholder="mm-yyyy"
                            class="form-control mx-3"
                            name="month" />

                        <button class="btn btn-primary" type="submit">
                            Load
                        </button>
                    </form>

                    <table class="table table-striped mt-3">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col" width="10%">Mã sản phẩm</th>
                                <th scope="col" width="30%">
                                    Tên sản phẩm
                                </th>
                                <th scope="col" width="10%">Số lượng</th>
                                <th scope="col" width="10%">Đơn giá</th>
                                <th
                                    scope="col"
                                    class="text-end"
                                    width="10%">
                                    <span>Thành tiền</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>

                    <strong>Tổng doanh thu tháng:</strong>
                </div>
            </div>
        </label>
    </div>
</main>
<head>
    <script id="revenueByDate-template" type="text/x-handlebars-template">
        \{{#each revenue.data}}
        <tr>
            <td>\{{this.itemid}}</td>
            <td>\{{this.name}}</td>
            <td>\{{this.quantity}}</td>
            <td>\{{this.price}}</td>
            <td class="text-end"><span class="fw-bolder">\{{total}}</span></td>
        </tr>
        \{{/each}}
    </script>
</head>
<script>
    $(document).ready(function () {
        // Gọi hàm fetchRevenueByDate với ngày cụ thể là '2023-12-24'
        fetchRevenueByDate('2023-12-24');
    });
    function fetchRevenueByDate() {
        // Lấy giá trị từ trường nhập liệu date
        var dateValue = document.getElementById('date').value;
        // Gọi hàm fetchRevenueByDate với giá trị date
        fetchRevenueByDate(dateValue);
    }
    function fetchRevenueByDate(date) {
            var apiEndPoint = `/data/revenue/by-date?date=${date}`;
            $.ajax({
                url: apiEndPoint,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    var source = $('#revenueByDate-template').html();
                    var template = Handlebars.compile(source);
                    $('#revenueByDateTable').html(template({ revenue: data }));
                }
            });
        }
        
</script>