{{#each donhang}}
<div class="order-container p-1 m-3 rounded">
    <div class="customer-info">
        <span>Đơn số: {{orderid}} </span>
        <span>Tên khách hàng: {{clientname}} </span>
        <span>Số điện thoại: {{clientphone}}</span>
        <span>Ngày đặt: {{date}}</span>
    </div>
    {{#each items}}
    <div class="item-container m-2 p-3 bg-light rounded">
        <div class="row">
            <div class="col-1">
                <img class="item-img rounded" src="{{photo}}" alt="...">
            </div>
            <div class="col-11 d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-around">
                    <h5 class="h2">{{name}}</h5>
                    <p>Số lượng: {{quantity}}</p>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <h3>{{total}} đ</h3>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-primary ">Xác nhận</button>
        <button type="button" class="btn btn-danger">Hủy</button>
    </div>
</div>
{{/each}}

<style>
    .customer-info span {
        font-weight: bold;
        padding: 0 20px;
    }

    .order-container {
        background-color: rgb(176, 252, 190);
    }

    .item-img {
        width: 100%;
    }

    .item-containter {
        background-color: white;
    }
</style>

<script>
    $(document).ready({
        $('#confirm').click({

        })
    })
</script>