<head>
    <link rel="stylesheet" href="user/css/cart.css">
</head>
<main>
    <div class="container position-relative">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 order-md-2" id="purchase">
                <div class="card mb-3 border-black p-2">
                    <div class="text-center"><h2 class="card-title fw-light">Đặt hàng</h2></div>
                    <div>
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Họ tên:</label>
                            <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Nhập họ tên">
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Nhập số điện thoại">
                        </div>
                        <div class="mb-3">
                            <label for="totalAmount" class="form-label">Tổng tiền:</label>
                            <div id="totalAmount" class="form-control" readonly>2000.000</div>
                        </div>
                        <input type="hidden" id="data" name="data">
                        <button id="purchaseBtn" type="button" class="btn btn-danger">Thanh toán</button>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-8 order-md-1" id="list-product">
            </div>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto" id="toast-purchase">Đặt hàng thành công</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<head>
    <script id="food-template"type="text/x-handlebars-template">
        \{{#each data}}
            <div id="card-\{{this.itemid}}" class="card mb-3 border border-black position-relative product">
                <div class="row g-0">
                    <div class="col-4">
                        <a href="/detail?type=0&id=\{{this.itemid}}"><img src="\{{this.photo}}" class="img-fluid rounded-start" alt="..."></a>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">\{{this.name}}</h5>
                            <p class="card-text">Giá: \{{formatCurrency this.price}}</p>
                            <p class="card-text">Số hàng tồn: <span id="quantity-\{{this.itemid}}">\{{this.quantity}}</span></p>
                            <ul class="pagination align-items-center">
                                Số lượng mua:
                                <li class="page-item"><a class="page-link" type="button" onclick="decreaseQuantityBtn('\{{this.itemid}}', \{{../type}})"><i class="fas fa-minus"></i></a></li>
                                <li class="page-item"><input class="page-link text-center" type="tel" 
                                    value="\{{localStorageGetItem this.itemid ../type}}" style="width: 50px;" oninput="changeQuantity(this, '\{{this.itemid}}', \{{../type}})"/></li>
                                <li class="page-item"><a class="page-link" type="button" onclick="increaseQuantityBtn('\{{this.itemid}}', \{{../type}})"><i class="fas fa-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="button" class="position-absolute btn btn-danger rounded-circle"
                    onclick="removeProductBtn('\{{this.itemid}}', \{{../type}})">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        \{{/each}}
    </script>
    
    
    
    <script id="product-template"type="text/x-handlebars-template">
        \{{#each data}}
            <div id="card-\{{this.itemid}}" class="card mb-3 border border-black position-relative product">
                <div class="row g-0">
                    <div class="col-4">
                        <a href="/detail?type=1&id=\{{this.itemid}}"><img src="\{{this.photo}}" class="img-fluid rounded-start" alt="..."></a>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">\{{this.name}}</h5>
                            <p class="card-text">Giá: \{{formatCurrency this.price}}</p>
                            <p class="card-text">Số hàng tồn: <span id="quantity-\{{this.itemid}}">\{{this.quantity}}</span></p>
                            <ul class="pagination align-items-center">
                                Số lượng mua:
                                <li class="page-item"><a class="page-link" type="button" onclick="decreaseQuantityBtn('\{{this.itemid}}', \{{../type}})"><i class="fas fa-minus"></i></a></li>
                                <li class="page-item"><input class="page-link text-center" type="tel" 
                                    value="\{{localStorageGetItem this.itemid ../type}}" style="width: 50px;" oninput="changeQuantity(this, '\{{this.itemid}}', \{{../type}})"/></li>
                                <li class="page-item"><a class="page-link" type="button" onclick="increaseQuantityBtn('\{{this.itemid}}', \{{../type}})"><i class="fas fa-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="button" class="position-absolute btn btn-danger rounded-circle"
                    onclick="removeProductBtn('\{{this.masanpham}}', \{{../type}})">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        \{{/each}}
    </script>
</head>
<script>
    Handlebars.registerHelper('localStorageGetItem', function(key, type) {
        return localStorage.getItem(`${key}-${type}`);
    });
    Handlebars.registerHelper('formatCurrency', function(amount) {
        return new Handlebars.SafeString(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount));
    });
    var foodIdSelected = [];
    var productIdSelected = [];
    var food = [];
    var product = [];
    $(document).ready(function() {
        for(let i = 0; i < localStorage.length;i++){
            let key = localStorage.key(i);
            if(key.split('-')[1] == 0){
                foodIdSelected.push(key.split('-')[0]);
            }
            else if(key.split('-')[1] == 1){
                productIdSelected.push(key.split('-')[0]);
            }
        }
        var req1 = $.ajax({
            url: `/data/food`,
            method: 'GET', 
            dataType: 'json',
            success: function(data){
                var result = data.filter(item => {
                    return foodIdSelected.includes(item.itemid)
                });
                food = result;
                var source = $('#food-template').html();
                var template = Handlebars.compile(source);
                $('#list-product').append(template({data: result, type: 0}));
            }
        })
        var req2 = $.ajax({
            url: `/data/product`,
            method: 'GET', 
            dataType: 'json',
            success: function(data){
                var result = data.filter(item => {
                    return productIdSelected.includes(item.itemid);
                });
                product = result;
                var source = $('#product-template').html();
                var template = Handlebars.compile(source);
                $('#list-product').append(template({data: result, type: 1}));
            }
        })
        $.when(req1,req2).done(function() {
            updateTotalCost();
        })
    })
    function removeProductBtn(key, type){
        if(confirm('Bạn có muốn xóa sản phẩm đang chọn')){
            localStorage.removeItem(`${key}-${type}`);
            $(`#card-${key}`).remove();
            if(type == 0){
                let i = foodIdSelected.indexOf(key);
                if(i !== -1) foodIdSelected.splice(i, 1);
            }
            else if(type == 1){
                let i = productIdSelected.indexOf(key);
                if(i !== -1) productIdSelected.splice(i, 1);
            }
            updateTotalCost();
            return true;
        }
        return false;
    }
    function changeQuantity(input, key, type){
        let isChange = false;
        if(input.value.length === 0){
            input.value = '1';
        }
        let value = input.value
        input.value = value.replace(/[^0-9]/g, '');
        if(input.value == 0 && !removeProductBtn(key,type)){
            input.value = '1';
        }
        if(parseInt(input.value) > parseInt($(`#quantity-${key}`).html()))
            input.value = $(`#quantity-${key}`).html();
        localStorage.setItem(`${key}-${type}`, input.value);
        updateTotalCost();
    }
    function increaseQuantityBtn(key, type){
        var inputElement = $(`#card-${key} input`)[0];
        inputElement.value = parseInt($(`#card-${key} input`)[0].value) + 1;
        changeQuantity(inputElement, key, type);
    }
    function decreaseQuantityBtn(key, type){
        var inputElement = $(`#card-${key} input`)[0];
        inputElement.value = parseInt($(`#card-${key} input`)[0].value) - 1;
        changeQuantity(inputElement, key, type);
    }
    function updateTotalCost(){
        let cost = 0;
        cost = foodIdSelected.reduce((res, item) =>{
            return res + parseInt(localStorage.getItem(`${item}-0`)) * food[food.findIndex(obj => obj.itemid == item)].price;
        }, cost);
        cost = productIdSelected.reduce((res, item) =>{
            return res + parseInt(localStorage.getItem(`${item}-1`)) * product[product.findIndex(obj => obj.itemid == item)].price;
        }, cost);
        $('#totalAmount').html(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(cost));       
    }
    $('#purchaseBtn').click(function(e){
        var foodOrders = [];
        var productOrders = [];
        for(let i = 0; i < localStorage.length;i++){
            let key = localStorage.key(i);
            if(key.split('-')[1] == 0){
                foodOrders.push({itemid: key.split('-')[0], quantity: localStorage.getItem(key)})
            }
            else {
                productOrders.push({itemid: key.split('-')[0], quantity: localStorage.getItem(key)})
            }
        }
        if(foodOrders.length == 0 || product.length == 0){
            bootstrap.Toast.getOrCreateInstance($('#liveToast')).show();
            $('#toast-purchase').html('Giỏ hàng không được để trống');
            return;
        }
        var data = {
            food: foodOrders,
            product: productOrders,
            fullName: $('#fullName')[0].value,
            phoneNumber: $('#phoneNumber')[0].value
        };
        $.ajax({
            method: 'POST',
            url:'/purchase',
            data: data,
            success:function(res){
                localStorage.clear();
                $('#list-product').html('');
                $('#toast-purchase').html('Đặt hàng thành công');
                bootstrap.Toast.getOrCreateInstance($('#liveToast')).show();
            }
        })
    })
</script>