<head>
    <link rel="stylesheet" href="user/css/home.css">
</head>
<main>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Trang chủ</li>
                </ol>
            </nav>
        </div>
        <div class="row border-bottom">
            <h2 class="fw-light">Thực đơn chính</h2>
        </div>
        <div id="food-content" class="row gy-3">
        </div>
        <div id="food-pagi" class="row">
        </div>
        <div class="row border-bottom">
            <h2 class="fw-light">Nước giải khát & Bánh</h2>
        </div>
        <div id="product-content" class="row gy-3">
        </div>
        <div id="product-pagi" class="row">
        </div>
        
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Đã thêm vào giỏ hàng</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</main>
<head>
    <script id="food-template" type="text/x-handlebars-template">
        \{{#each food.data}}
        <div class="col-6 col-md-3">
            <div class="card border border-black position-relative">
                <a href="/detail?type=0&id=\{{this.itemid}}">
                    <img src="\{{this.photo}}" class="card-img-top" alt="Product Image">
                </a>
                <div class="card-body border-top border-black">
                    <h6 class="card-title text-center">\{{this.name}}</h6>
                    <div class="d-flex justify-content-between">
                    </div>
                </div>
                <p class="price position-absolute" style="margin-right: auto;">Giá: \{{formatCurrency this.price}}</p>
                <button type="button" 
                    class="position-absolute btn btn-primary rounded-circle"
                    onclick="addProduct('\{{this.itemid}}', 0)">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        \{{/each}}
    </script>
    <script id="food-pagi-template" type="text/x-handlebars-template">
        <nav aria-label="...">
            <ul class="pagination justify-content-center align-items-center">
                <li class="page-item">
                    <a type="button" class="page-link" onclick="fetchFood((\{{total_pages}} + \{{page}} - 2) % \{{total_pages}} + 1)" aria-label="Previous">
                        &laquo;
                    </a>
                </li>
                \{{#each pagi}} 
                    <li class="page-item \{{#if (eq ../page this)}} active \{{/if}}">
                        <a type="button" class="page-link" onclick="fetchFood(\{{this}})" >\{{this}}</a>
                    </li>
                \{{/each}}
                <li class="page-item">
                    <a type="button" class="page-link" onclick="fetchFood(\{{page}} % \{{total_pages}} + 1)" aria-label="Next">
                        &raquo;
                    </a>
                </li>
            </ul>
        </nav>
    </script>
    <script id="product-template" type="text/x-handlebars-template">
        \{{#each product.data}}
        <div class="col-6 col-md-3">
            <div class="card border border-black position-relative">
                <a href="/detail?type=1&id=\{{this.itemid}}">
                    <img src="\{{this.photo}}" class="card-img-top" alt="Product Image">
                </a>
                <div class="card-body border-top border-black">
                    <h6 class="card-title text-center">\{{this.name}}</h6>
                </div>
                <p class="price position-absolute" style="margin-right: auto;">Giá: \{{formatCurrency this.price}}</p>
                <button type="button" 
                    class="position-absolute btn btn-primary rounded-circle"
                    onclick="addProduct('\{{this.itemid}}', 1)">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        \{{/each}}
    </script>
    <script id="product-pagi-template" type="text/x-handlebars-template">
        <nav aria-label="...">
            <ul class="pagination justify-content-center align-items-center">
                <li class="page-item">
                    <a type="button" class="page-link" onclick="fetchProduct((\{{total_pages}} + \{{page}} - 2) % \{{total_pages}} + 1)" aria-label="Previous">
                        &laquo;
                    </a>
                </li>
                \{{#each pagi}} 
                    <li class="page-item \{{#if (eq ../page this)}} active \{{/if}}">
                        <a type="button" class="page-link" onclick="fetchProduct(\{{this}})" >\{{this}}</a>
                    </li>
                \{{/each}}
                <li class="page-item">
                    <a type="button" class="page-link" onclick="fetchProduct(\{{page}} % \{{total_pages}} + 1)" aria-label="Next">
                        &raquo;
                    </a>
                </li>
            </ul>
        </nav>
    </script>
</head>
<script>
    Handlebars.registerHelper('toString', function(obj){
        return JSON.stringify(obj);
    });
    Handlebars.registerHelper('formatCurrency', function(amount) {
        return new Handlebars.SafeString(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount));
    });
    Handlebars.registerHelper('eq', function(arg1, arg2) {
        return (arg1 == arg2);
    });
    $(document).ready(function() {
        fetchFood(1);
        fetchProduct(1);
        
    })    
    function fetchFood(page){
        var apiEndPoint = `/data/food/changePage?page=${page}&per_page=8`
        $.ajax({
            url: apiEndPoint,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var source = $('#food-template').html();
                var template = Handlebars.compile(source);
                $('#food-content').html(template({food: data}));
                
                var arr = [];
                for(let i = 1; i <= data.total_pages;i++)arr.push(i);
                source = $('#food-pagi-template').html();
                template = Handlebars.compile(source);
                $('#food-pagi').html(template({page:data.page, pagi: arr, total_pages: data.total_pages}));
            }
        })
    }
    function fetchProduct(page){
        var apiEndPoint = `/data/product/changePage?page=${page}&per_page=8`
        $.ajax({
            url: apiEndPoint,
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                var source = $('#product-template').html();
                var template = Handlebars.compile(source);
                $('#product-content').html(template({product: data}));
                
                var arr = [];
                for(let i = 1; i <= data.total_pages;i++)arr.push(i);
                source = $('#product-pagi-template').html();
                template = Handlebars.compile(source);
                $('#product-pagi').html(template({page:data.page, pagi: arr, total_pages: data.total_pages}));
            }
        })
    }
    function addProduct(key,type){
        let value = window.localStorage.getItem(`${key}-${type}`);
        if(value !== null){
            value = parseInt(value) + 1;
            window.localStorage.setItem(`${key}-${type}`, value);
        }else {
            window.localStorage.setItem(`${key}-${type}`, 1);
        }
        bootstrap.Toast.getOrCreateInstance($('#liveToast')).show();
    }

</script>